* {
  padding: 0;
  margin: 0;

}
html, body{
  font-family: 'Montserrat', sans-serif;
  background-color: #F3F3F3;
  scroll-behavior: smooth;
  
}
body{
  min-width: 100%;
}

@media screen and (min-width: 320px) and (max-width: 480px) {

  .titulo-estilizado, .titulo-estilizado-sobre{
    font-size: 2rem;
    
    letter-spacing: 0.5rem;
    margin-bottom: 15px;
  }
  .titulo-estilizado-sobre{
   color: #F3F3F3;
  }
  .titulo-estilizado{
    color: #5D5E62;
  }

  .icon{
    display: none;
  
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .titulo-estilizado, .titulo-estilizado-sobre{
    font-size: 2rem;
    color: #5D5E62;
    letter-spacing: 0.5rem;
    margin-bottom: 15px;
  }
  .titulo-estilizado-sobre{
    color: #F3F3F3;
    font-size: 2rem;
    margin-top: 1rem;
   }
   
}

@media screen and (min-width: 769px) and (max-width: 1200px) {
  .titulo-estilizado, .titulo-estilizado-sobre{
    font-size: 2.4rem;
    color: #5D5E62;
    letter-spacing: 0.5rem;
    margin-bottom: 15px;
  }
  
   
}
@media screen and (min-width: 1201px) and (max-width: 1600px) {
  .titulo-estilizado, .titulo-estilizado-sobre{
    font-size: 2.8rem;
    color: #5D5E62;
    letter-spacing: 0.5rem;
    margin-bottom: 15px;
  }
  
   
}



/* .titulo-estilizado{

  font-size: 3rem;
  color: #5D5E62;
  letter-spacing: 0.5rem;

  margin-bottom: 15px;
} */