
.nome-escritorio{
  color: white;
  text-align: center;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .nome-escritorio{
    margin-bottom: 1rem;
    font-size: 3rem;
    width: 100% ;
  }
  nav{
    width: 100%;
    margin: 2.5rem 0 4rem 0 ;
  }
  nav a{
    font-size: 1rem;
    border-bottom: 1px solid white;
    padding-bottom: 3px;
  }
  nav ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 1rem;
    box-sizing: border-box;
    padding: 0 1rem;
    
    
  }
  nav li{
   margin: 0.5rem 0;
    display: flex !important;
    justify-content: center !important;
    align-items: space-between;
    width: 100%; 
  }
  .pequena-apresentacao{
    color: white;
    font-size: 1rem;
    width: 90%;
    text-align: center;
    line-height: 2rem;
    margin: 2rem 2rem 0 2rem;
    padding: 0 1rem;
  }
  .botao-capa{
    width: 85%;
    font-size: 1.1rem;
    border-radius: 2rem;
    box-sizing: border-box;
  }
}
@media screen and (min-width: 400px) and (max-width: 768px) {
  .botao-capa{
    width: 70%;
    font-size: 1.1rem;
    border-radius: 2rem;
    box-sizing: border-box;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .nome-escritorio{
  font-size: 3.5rem;
  width: 70%;
  }

  nav{
    width: 100%;
    margin: 2.5rem 0 0 0 ;
    margin-bottom:3.8rem ;
  }
  nav a{
    font-size: 1rem;
   
    padding-bottom: 3px;
    width: 100%;
    text-align: center;
  }

  nav ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 1rem;
    box-sizing: border-box;
    padding: 0 1rem;
    
  }
  nav li{
  border-left: 1px solid white;
   margin: 0.5rem 0;
    display: flex !important;
    justify-content: center !important;
    align-items: space-between;
    width: 100%; 
  }
  .pequena-apresentacao{
    color: white;
    font-size: 1.1rem;
    width: 90%;
    text-align: center;
    line-height: 2rem;
    margin: 2rem 2rem 0 2rem;
    padding: 0 1rem;
  }

  .botao-capa{
    margin-top: 3rem;
    width: 20rem;
    font-size: 1.2rem;
    border-radius: 2rem;
  }
}


@media screen and (min-width: 769px) and (max-width: 1200px) {

  .nome-escritorio{
    font-size: 3.8rem;
    width: 30rem;
    
  }
  nav{
    width: 42rem;
    margin: 4rem 0 4rem 0 ;
  }
  nav a{
    font-size: 1.3rem;
    padding-bottom: 3px;
  }
  nav ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 1rem;
    box-sizing: border-box;
    padding: 0 1rem;
    
    
  }
  nav li{
    border-left: 1px solid white;
    margin: 0.5rem 0;
     display: flex !important;
     justify-content: center !important;
     align-items: space-between;
     width: 100%;
  }
  .pequena-apresentacao{
    color: white;
    font-size: 1.3rem;
    width:40rem;
    text-align: center;
    line-height: 2rem;
    margin: 2rem 2rem 0rem 2rem;
    padding: 0 1rem;
  }
  .botao-capa{
    
    width: 27rem;
    font-size: 1.6rem;
    border-radius: 2rem;
    box-sizing: border-box;
  }
}
@media screen and (min-width: 1201px) and (max-width: 1600px) {
  .nome-escritorio{
    font-size: 3.4rem;
    width: 32rem;
    
  }
  nav{
    width: 48rem;
    margin: 2.5rem 0 3rem 0 ;
  }
  nav a{
    font-size: 1rem;
    padding-bottom: 3px;
  }
  nav ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 1rem;
    box-sizing: border-box;
    padding: 0 1rem;
    
    
  }
  nav li{
    border-left: 1px solid white;
    margin: 0.5rem 0;
     display: flex !important;
     justify-content: center !important;
     align-items: space-between;
     width: 100%;
  }
  .pequena-apresentacao{
    color: white;
    font-size: 1rem;
    width: 40rem;
    text-align: center;
    line-height: 2rem;
    margin: 3rem 2rem 0rem 2rem;
    padding: 0 1rem;
  }
  .botao-capa{
    
    width: 20rem;
    font-size: 1.1rem;
    border-radius: 2rem;
    box-sizing: border-box;
  }
}

@media screen and (min-width: 1601px)  {
  .nome-escritorio{
    font-size: 3.6rem;
    width: 32rem;
    
  }
  nav{
    width: 50rem;
    margin: 2.5rem 0 3rem 0 ;
  }
  nav a{
    font-size: 1.3rem;
    padding-bottom: 3px;
  }
  nav ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 1rem;
    box-sizing: border-box;
    padding: 0 1rem;
    
    
  }
  nav li{
    border-left: 1px solid white;
    margin: 0.5rem 0;
     display: flex !important;
     justify-content: center !important;
     align-items: space-between;
     width: 100%;
  }
  .pequena-apresentacao{
    color: white;
    font-size: 1.2rem;
    width: 40rem;
    text-align: center;
    line-height: 2rem;
    margin: 3rem 2rem 0rem 2rem;
    padding: 0 1rem;
  }
  .botao-capa{
 
    width: 24.5rem;
    font-size: 1.35rem;
    border-radius: 2rem;
    box-sizing: border-box;
  }
}

.each-slide-effect > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 90vh;
    background-position: center;
  }

  .each-slide-effect span {
    font-size: 20px;
  }

  .capa-apresentacao{
    position: absolute;
    top: 0;
    z-index: 10000;
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
  }
  
 

  nav li:first-child{
     border-left: none; 
  }
  nav a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    
    background-image: linear-gradient(
        to right,
        #CF9D53,
        #CF9D53 50%,
        white 50%
      );
      background-size: 200% 100%;
      background-position: -100%;
      display: inline-block;
      padding: 5px 0;
    
     
      position: relative;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      transition: all 0.3s ease-in-out;
  }

  a:before{
    content: '';
    background: #b47820;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
  }
  a:hover {
    background-position: 0;
   }
   
   a:hover::before{
     width: 100%;
   }
   
   .botao-capa{
    margin-top: 2.2rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-weight: 500;
    height: 2.8rem;
    color: white;
    background-color: #b47820;
    border: none;
    transition: all 0.5s ease-in-out;
    margin-bottom: 4rem;
  }

  .botao-capa:hover{
    transform: scale(105%);
    background-color: #9f6816;
  }

  
